<!-- favicons can go here -->
<link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-source/favicon-32.png">
<link rel="icon apple-touch-icon" type="image/png" sizes="64x64" href="images/logo/favicon-source/favicon-64.png">
<link rel="icon apple-touch-icon" type="image/png" sizes="128x128" href="images/logo/favicon-source/favicon-128.png">
<link rel="icon apple-touch-icon" type="image/png" sizes="167x167" href="images/logo/favicon-source/favicon-167.png">
<link rel="icon apple-touch-icon" type="image/png" sizes="180x180" href="images/logo/favicon-source/favicon-180.png">
<link rel="icon" type="image/png" sizes="192x192" href="images/logo/favicon-source/favicon-192.png">
<link rel="icon" type="image/png" sizes="256x256" href="images/logo/favicon-source/favicon-256.png">
<link rel="icon" type="image/png" sizes="384x384" href="images/logo/favicon-source/favicon-384.png">
<link rel="icon" type="image/png" sizes="512x512" href="images/logo/favicon-source/favicon-512.png">
<link rel="shortcut icon" href="favicon.ico">
<link rel="mask-icon" href="images/logo/favicon-source/SouthamLaw-circle.svg" color="#E52426">
