{{ partial "global-header.html" . }}

{{ if .Site.Data.services.enable }}
<!-- services Start -->
<section id="services" class="venogroup">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.services.title }}</h2>
        <p>{{ .Site.Data.services.subtitle }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              {{ $categories := slice }}
              {{ range .Site.Data.services.content }}
                {{ $categories = $categories | append .category }}
              {{ end }}
                <li class="filter" data-filter="all">Everyone</li>
              {{ range ( $categories | uniq ) }}
                <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
            <div class="portfolio-contant">
              <div id="portfolio-contant-active">
                {{ range $index, $element := .Site.Data.services.content }}
                  <div class="col-sm-6 col-md-3 services-item mix {{ $element.category }}">
                    <ion-icon name="{{ .icon }}" size="large"></ion-icon>
                    <h4>{{ .name }}</h4>
                    <p>{{ .text }}</p>
                  </div>
                {{ end }}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
