{{ partial "global-header.html" . }}

<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                  {{ $categories := slice }}
                  {{ range .Site.Data.work.portfolio }}
                    {{ $categories = $categories | append .category }}
                  {{ end }}
                    <li class="filter" data-filter="all">Everything</li>
                  {{ range ( $categories | uniq ) }}
                    <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {{ range $index, $element := .Site.Data.work.portfolio }}
                  {{ $summary := split $element.description " " }}
                  {{ $summaryLen := len $summary }}
                  {{ $summary := first 20 $summary }}

                  {{ $colorsLen := len $.Site.Data.work.colors }}

                    <li class="mix {{ $element.category }}">
                      <a class="venobox"
                      data-vbtype="inline"
                      title="{{ $element.name }}"
                      href="#inline-content-{{ $index }}"
                      data-gall="success"
                      style="background-color: #{{ index $.Site.Data.work.colors (mod $index $colorsLen) }}">
                        <div class="story-block">
                          <h2>{{ $element.name }}</h2>
                          <p>{{ delimit ($summary) " " }} {{ if gt $summaryLen 20 }}...{{ end }}</p>
                          <!-- <img class="img-responsive" src="{{ $.Site.BaseURL }}{{ $element.image }}" /> -->
                        </div>
                        <div id="inline-content-{{ $index }}" style="display:none;">
                          <div style="background:#fff; width:100%; height:100%; float:left; padding:10px;">
                          <h1>{{ $element.name }}</h1>
                          <p>{{ $element.description | safeHTML }}</p>
                          <p><i>The names in this story were changed for privacy purposes.</i></p>
                          </div>
                        </div>
                        <div class="overly">
                          <div class="position-center">
                            <i class="fa fz-20"></i>
                            <h2>read more...</h2>
                          </div>
                        </div>
                      </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.work.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
