<div class="container">
  <div class="row">
    <div class = "col-12">
      <div id="terms" class="block">
        <div id="terms">
          <h1> {{ .Title }} </h1>
          {{ if eq .Params.lang "en" }}
            <a href = "../terms-es/">Se encuentre una versión en español.</a>
          {{ else if eq .Params.lang "es" }}
            <a href = "../terms/">An English language version is available.</a>
          {{ end }}

          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>
